@model Asmaa.Pl.Areas.DashBord.ViewModels.FeaturesVM.FeaturesCreateVM


<div class="col-md-6">

<div class="card card-primary">
<div class="card-header">
            <h3 class="card-title"> Create Features</h3>
</div>


<form asp-action="Create">
<div class="card-body">
<div class="form-group">
<label asp-for="Name">Feature name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Name">
</div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea  asp-for="Description" class="form-control" placeholder="Enter Name"></textarea>
                </div>

</div>

<div class="card-footer">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>

</div>
@section scriptes {
    <script src="https://cdn.tiny.cloud/1/9mw2bbhxv8735prml9bnhk3ub3nq60j89ztzu7o2jlnniwq5/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            forced_root_block: false,  // Prevents TinyMCE from wrapping content in <p> tags
            menubar: false,  // Disables the menu bar
            toolbar: false,  // Hides the toolbar for a plain text editor
            plugins: 'paste',  // Allows pasting functionality
            paste_as_text: true  // Forces pasted content to be plain text
        });
    </script>
}

}
